*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    color: #9ba0b8;
    font-family: 'Nunito',sans-serif;
}

.main-container{
    margin: auto;
    width: 75%;
}

.share{
    font-size: 1.1rem;
    margin-bottom: 1rem;
}
.share p, .share a{
    margin-right: 1.3rem;
}

.share i{
    color: #9ba0b8;
}

.home-blog{
    gap: 0.8rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.home-blog a{
    color: #9ba0b8;
    text-decoration: none;
    transition: color 0.3s ease;
}

.home-blog a:hover{
    color: purple;
}

.admin-comment{
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.admin-comment a{
    color: #9ba0b8;
    text-decoration: none;
    background-color: black;
    padding: 5px 15px;
    border-radius: 100px;
}

.single-blog-text-heading{
    font-size: 2rem;
    font-family: 'Heebo',sans-serif;
    margin-bottom: 0.6rem;
}

.single-blog-text-heading + p{
    font-weight: 700;
    margin-bottom: 2rem;
}

.single-blog_text{
    margin-bottom: 2rem;
    font-size: 1.1rem;
}

.about-author{
    background-color: #1b121d;
    padding: 50px;
    margin-top: 3.3rem;
    border-radius: 3px;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.author-info{
    width: 73%;
    align-items: center;
}

.author-picture img{
    width: 160px;
    height: 160px;
    border-radius: 8px;
}

.author-name{
    font-size: 1.5rem;
    font-family: 'Heebo',sans-serif;
    font-weight: 300;
    color: #ddd;
    margin-bottom: 1rem;
}

.author-name + p{
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.about-author i{
    padding-right: 1.1rem;
    color: #9ba0b8;
    font-size: 1.2rem;
}

.tags{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 6rem;
}

.tags span{
    color: #ddd;
}

.rtl{
    direction: rtl;
}

.prev-post{
    background-color: #1b121d;
    padding-top: 120px;
    padding-bottom: 120px;
    margin-bottom: 6rem;
}

/* .post{
    margin-top: 70px;
    margin-bottom: 70px;
} */

.right-img{
    margin-left: 2rem;
}

.left-img{
    margin-right: 2rem;
}

.p-p{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.6rem;
}

.p-p + p{
    font-family: 'Nunito',sans-serif;
    transition: color 0.3s ease;
    font-size: 1.3rem;
    font-weight: 700;
    color: #ddd;
}

.p-p + p:hover{
    color: #cc00ff;
    
}

.prev-post-text {
    align-items: center;
}

.post-menu_icon{
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 3px;
    
}

.post-menu_icon span{
    font-size: 2rem;
    color: #ddd;
}

.post-img, .post-menu_icon{
    width: 70px;
    height: 70px;
}

.post-img img{
    width: 100%;
    height: 100%;
}







