*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    color: #9ba0b8;
    font-family: 'Nunito',sans-serif;
}

.main-container{
    margin: auto;
    width: 75%;
}

.share{
    font-size: 1.1rem;
    margin-bottom: 1rem;
}
.share p, .share a{
    margin-right: 1.3rem;
}

.share i{
    color: #9ba0b8;
}

.home-blog{
    gap: 0.8rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.home-blog a{
    color: #9ba0b8;
    text-decoration: none;
    transition: color 0.3s ease;
}

.home-blog a:hover{
    color: purple;
}

.admin-comment{
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.admin-comment a{
    color: #9ba0b8;
    text-decoration: none;
    background-color: black;
    padding: 5px 15px;
    border-radius: 100px;
}

.single-blog-text-heading{
    font-size: 2rem;
    font-family: 'Heebo',sans-serif;
    margin-bottom: 0.6rem;
}

.single-blog-text-heading + p{
    font-weight: 700;
    margin-bottom: 2rem;
}

.single-blog_text{
    margin-bottom: 2rem;
    font-size: 1.1rem;
}






