*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(90deg,#1b121d 0,#120f2f 50%,#1b121d 100%);
}
  
.d-flex{
    display: flex;
}

.logo-container{
    background-color: #262626;
    padding: 18px 20px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid black;
}

.logo{
    width: 10rem;
}

.buy-now a{
    background-color: #6f9a37;
    color: #9ba0b8;
    padding: 8px 22px;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.menu-meta_logo{
    gap: 1rem;
    justify-content: center;
    align-items: center;
}


.menu-icon span{
    color: #9ba0b8;
    font-size: 1.7rem;
}

.menu-icon{
    background-color: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.nav-bar{
    background: linear-gradient(90deg,#1b121d 0,#120f2f 50%,#1b121d 100%);
    justify-content: space-between;
    position: fixed;
    top: 3.4rem;
    left: 0;
    right: 0;
    padding: 1.5rem;
}

.nav-pages{
    justify-content: center;
    align-items: center;
}


ul{
    gap: 2.5rem;
}

ul li{
    color: #9ba0b8;
    list-style: none;
    font-size: 1.2rem;
}

.connect-button button{
    background-color: inherit;
    color: #9ba0b8;
    padding: 15px 30px;
    font-size: 0.9rem;
    border: 3px solid purple;
    border-radius: 5px;
    font-weight: 700;
}


/* FOOTER */

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 10rem;
    border-top: 1px solid black;
    padding: 2rem 5rem;
}

.footer-container{
    justify-content: space-between;
}

.copyright p a{
    text-decoration: none;
}