*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    /* background: linear-gradient(90deg,#1b121d 0,#120f2f 50%,#1b121d 100%); */
    color: #c3c6d3;
    position: relative;
    font-family: 'Nunito', sans-serif;
    background: #1b121d;
    background: -moz-linear-gradient(90deg,#1b121d 0,#120f2f 50%,#1b121d 100%);
    background: -webkit-linear-gradient(90deg,#1b121d 0,#120f2f 50%,#1b121d 100%);
    background: linear-gradient(90deg,#1b121d 0,#120f2f 50%,#1b121d 100%);
}

body:after {
    content: '';
    top: 42.8%;
    right: 25%;
    background-color: #7000ff;
    -webkit-filter: blur(150px);
    -o-filter: blur(150px);
    filter: blur(150px)
}

body:before {
    content: '';
    top: 27.5%;
    left: 23.9%;
    background-color: #cc00ff;
    -webkit-filter: blur(150px);
    -o-filter: blur(150px);
    filter: blur(150px)
}
  
.d-flex{
    display: flex;
}

.t-center{
    text-align: center;
}

.logo-container{
    background-color: #262626;
    padding: 18px 20px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid black;
    z-index: 1;
}

.logo{
    width: 10rem;
}

.buy-now a{
    background-color: #6f9a37;
    color: #c3c6d3;
    padding: 8px 22px;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.menu-meta_logo{
    gap: 1rem;
    justify-content: center;
    align-items: center;
}


.menu-icon span{
    color: #c3c6d3;
    font-size: 1.7rem;
}

.menu-icon{
    background-color: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.nav-bar{
    background: linear-gradient(90deg,#1b121d 0,#120f2f 50%,#1b121d 100%);
    justify-content: space-between;
    position: fixed;
    top: 3.4rem;
    left: 0;
    right: 0;
    padding: 1.5rem;
    z-index: 2;
}

.nav-pages{
    justify-content: center;
    align-items: center;
}


ul{
    gap: 2.5rem;
}

ul li{
    list-style: none;  
}

li a{
    text-decoration: none;
    color: #c3c6d3;
    font-size: 1.2rem;
}

.connect-button button{
    background-color: inherit;
    color: #c3c6d3;
    padding: 15px 30px;
    font-size: 0.9rem;
    border: 3px solid purple;
    border-radius: 5px;
    font-weight: 700;
}


/* MAIN */

main{
    padding-top: 18rem;
}

/* .main-footer_container{
    margin: auto;
    width: 87%;
} */

/* META LEGENDS */
.meta-container{
    margin: auto;
    width: 87%;
    margin-bottom: 10rem;
}

.meta-images{
    justify-content: space-between;
}

.meta-img{
    width: 32%;
    height: 55vh;
    padding: 1.5rem;
    border: 1px solid #ffffff26;
    border-radius: 10px;
}

.meta-img img{
    width: 100%;
    height: 49vh;
    border-radius: 10px;
}

.meta-text{
    margin: auto;
    width: 62%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.meta-text p{
    font-size: 1.5rem;
}

.prev-next{
    margin: auto;
    width: 17%;
    justify-content: space-between;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.next, .prev{
    width: 33%;
    justify-content: space-between;
}

.small-round{
    width: 12px;
    height: 12px;
    border-radius: 100px;
    border: 2px solid #ffffff80;
}

.prev-next-btn{
    width: 32px;
    height: 32px;
    border-radius: 100px;
    border: 2px solid #ffffff80;
    align-items: center;
    justify-content: center;
}

.prev-next-btn{
    color: #ffffff80;
}

.center-round{
    align-items: center;
    justify-content: center;
}


/* COLLECTION */

.collection-container{
    margin: auto;
    width: 87%;
}

.collection-img_container{
    justify-content: space-between;
    margin-bottom: 2rem;
    position: relative;
}

.normal-img{
    width: 28%;
    height: 50vh;
    border-radius: 20px;
    border: 1px solid #ffffff26;
    padding: 20px;
}

.small-img{
    width: 16%;
    height: 28vh;
    border-radius: 20px;
    border: 1px solid #ffffff26;
    padding: 20px;
    margin-bottom: 0;

}

.small-img1{
    width: 100%;
    margin-top: 11rem;
}

.small-img img{
    height: 22vh;
}

.normal-img img, .small-img img{
    width: 100%;
    border-radius: 20px;
}

.collection-text{
    margin: auto;
    width: 65%;
    margin-top: 9rem;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.collection-container .connect-button{
    text-align: center;
}

.collection-container{
    margin-bottom: 10rem;
}

.divider{
    margin-bottom: 10rem;
    margin-top: 10rem;
    border: 1px solid #ffffff26;
}

/* ROADMAP */
.roadmap-container{
    margin: auto;
    width: 87%;
}

.dashed-border{
    border: 1px dashed #9ba0b8;
    height: 7rem;
    border-radius: 10px;
    align-items: center;
    padding-left: 10px;
    padding-left: 2rem;
}

.roadmap-slider{
    border: 1px solid #ffffff26;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.roadmap-card-container{
    justify-content: space-between;
}

.roadmap-card{
    width: 23%;
    border: 1px solid #ffffff26;
    border-radius: 10px;
}

.card-details{
    margin: auto;
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 30px;
}

.roadmap-phase p{
    background-color: #ffffff1a;
    color: #9ba0b8;
    font-weight: 700;
    width: 10rem;
    padding: 1rem 2.5rem;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.roadmap-date, .roadmap-text{
    color: #9ba0b8;
    font-size: 1.1rem;
}

.roadmap-text{
    line-height: 2rem;

}

.roadmap-title{
    padding: 1rem 0 1rem 0;
    font-size: 1.3rem;
    font-weight: 700;
}

/* LATEST ARTICLE */

.blog-article-container{
    margin: auto;
    width: 87%;
}

.article-flex-content{
    width: 48%;
    margin-bottom: 3rem;

}

.article-flex-content-img img{
    width: 100%;
}

.article-flex a{
    display: block;
    text-decoration: none;

}
.article-flex{
    justify-content: space-between;
}

.article-border{
    border: 1px solid #ffffff26;
    border-radius: 10px;
    padding: 2.5rem;
}

.article-border1{
    padding-bottom: 5rem;
}

.article-flex-content2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.article-num{
    border: 2px solid #cc00ff;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.8rem;
}

.article-link{
    margin-top: 0.5rem;
    color: #ddd;
    font-size: 1.8rem;
    font-weight: 300;
    font-family: 'Heebo',sans-serif;
    transition: color 0.3s ease;
}

.article-flex-content-img{
    margin-top: 2rem;
}

.article-flex-content-img img{
    border-radius: 10px;
}

.read-more{
    text-decoration: none;
    font-weight: 700;
    color: #9ba0b8;
    margin-top: 1.8rem;
    transition: color 0.3s ease;
}

.read-more:hover, .article-link:hover{
    color: #cc00ff;
}

.article-flex .btn{
    width: 48%;
}

.article-last{
    align-items: center;
    justify-content: center;
    color: #9ba0b8;
    padding-left: 2rem;
    font-size: 1.1rem;
}

/* COUNTDOWN */
.countdown-container{
    border-top: 1px solid #ffffff26;
    border-bottom: 1px solid #ffffff26;
    margin-bottom: 10rem;
    justify-content: space-between;
    padding: 10rem;
    color: #9ba0b8;
    font-size: 1.1rem;
}

.span-center{
    justify-content: center;
    align-items: center;
}



/* LEGENDS */
.legend-container{
    justify-content: space-between;
    width: 93%;
    margin-bottom: 10rem;
}

.legend-text{
    width: 32%;
    margin-top: 7rem;
}

.legend-background{
    width: 52%;
    height: 130vh;
    background: url(/assets/images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    position: relative;
}

.legend-img{
    width: 70%;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #ffffff26;
    position: absolute;
    left: 23rem;
}

.legend-img img{
    width: 100%;
    border-radius: 10px;
}



/* MINT */

.mint-container{
    margin: auto;
    width: 87%;
    justify-content: space-between;
}

.mint-text{
    width: 32%
}

.mint-text-main{
    font-size: 1.1rem;
    margin-bottom: 2rem;
    color: #9ba0b8;
}

.mint-text-title{
    font-size: 2.2rem;
    background: linear-gradient(to right,#cc00ff,#cc00ff);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px transparent;
    color: #ddd;
    font-weight: 300;
    /* font-family: 'Heebo',sans-serif; */
    filter: drop-shadow(0 5px 20px rgba(204,0,255,.15));
}

.small-divider{
    width: 8rem;
    border: 1px solid #ffffff26;
    margin: 1.5rem 0 1.5rem 0;

}

.mint-card-container{
    width: 60%;
}

.mint-card{
    width: 46%;
    height: 32vh;
    border: 1px solid #ffffff26;
    border-radius: 10px;
    padding: 1.5rem;
    margin-bottom: 4rem;
}

.mint-card div{
    background-color: #ffffff08;
    height: 25.5vh;
    border-radius: 10px;
    padding-left: 4rem;
    padding-top: 2rem;
    /* z-index: 2; */
}

.mint-num{
    font-size: 4rem;
    /* color: ; */
    background: linear-gradient(to right,#cc00ff,#cc00ff);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: #160f1a;
    font-weight: 700;
    font-family: 'Heebo',sans-serif;
    filter: drop-shadow(0 5px 20px rgba(204,0,255,.15));
}

.mint-num + p{
    font-size: 1rem;
    color: #9ba0b8;
    font-weight: 700;
    
}

.mint-numbers{
    justify-content: space-between;
    flex-wrap: wrap;
}

.mint_img-video img{
    width: 100%;
}


/* CONTACT US */

.contactUs-container{
    margin: auto;
    width: 87%;
    margin-bottom: 9rem;
}

.contactUs-title{
    font-family: 'Heebo', sans-serif;
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: .5px;
    margin-bottom: 7.7rem;
    background: linear-gradient(to right,#cc00ff,#cc00ff);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1.3px transparent;
    color: #ddd;
    font-weight: 300;
    /* font-family: 'Heebo',sans-serif; */
    filter: drop-shadow(0 5px 20px rgba(204,0,255,.15));
}

.contactus-info{
    justify-content: space-between;
    margin-bottom: 3rem;
    flex-wrap: wrap;
}

.contactus-details{
    width: 25%;
}

.contactus-details_text div{
    margin-bottom: 1.6rem;
}

.contactus-details_text{
    color: #9ba0b8;
    font-weight: 400;
    font-size: 1.1rem;
}

.contactUs-header{
    color: #9ba0b8;
    letter-spacing: .5px;
    font-weight: 700;
}

.contactUs-header + p{
    color: #ddd;
    font-weight: 300;
    transition: color 0.3s ease;
}

.contactus-number:hover, .contactus-email:hover{
    color: #cc00ff;
}

.contactus-number{
    font-size: 1.8rem;
}

.contactus-email{
    font-size: 2rem;
}

.contactus-address{
    font-family: 'Heebo',sans-serif;;
    font-size: 1.8rem;
}

.phone-email section{
    margin-bottom: 2rem;
}

.contactUs-header{
    margin-bottom: 0.8rem;
}

.personal-info{
    justify-content: space-between;
}
.info input{
    display: block;
    width: 100%;
    margin-bottom: 2.2rem;
    height: 5rem;
    background: none;
}

.info{
    width: 48%;
}

textarea{
    width: 100%;
    height: 15rem;
    background: none;
}

.t-area{
    margin-bottom: 2rem;
}

textarea, input{
    border-radius: 5px;
    border: 2px solid #ffffff26;
    text-indent: 2rem;
    color: #ffffff26;
    font-size: 1rem;
    transition: border 0.3s ease;
}

textarea:focus, input:focus{
    border: 2px solid purple;
    color: white;
}

textarea{
    padding-top: 1rem;
    padding-left: 0.5rem;
    text-indent: 0.3rem;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
}


.check{
    margin-bottom: 2rem;
}

input[type=checkbox]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
}

.check label{
    margin-left: 1rem;
    color: #9ba0b8;
    font-size: 1.1rem;
}

.btn{
    width: 22%;
}
.btn button{
    background-color: inherit;
    color: #c3c6d3;
    padding: 30px 40px;
    font-size: 0.9rem;
    border: 3px solid purple;
    border-radius: 5px;
    font-weight: 700;
    width: 100%;
}



/* FOOTER */

footer{
    border-top: 1px solid #ffffff26;
    margin-top: 7rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer-container{
    margin: auto;
    width: 87%;
}

.footer-container{
    justify-content: space-between;
}

.footer-pages li{
    font-size: 1rem;
}

.copyright p{
    font-size: 1rem;
}

.copyright p a, .footer-pages a{
    text-decoration: none;
    color: white;
}

.footer-pages a{
    color: #9ba0b8;
}

.footer-pages a:hover{
    text-decoration: underline;
    color: #cc00ff;
}


/* FOOTER FOR SMALLER SCREENS */

@media screen and(max-width: 1204px) {

    .main-footer_container{
        margin: auto;
        width: 90%;
    }
    .contactus-info{
        flex-wrap: wrap;
    }

    .contactus-details{
        width: 100%;
    }

    .btn{
        width: 28%;
    }
}

@media screen and(max-width: 912px) {
    
    .contactus-details_text{
        font-size: 2rem;
    }
    
    .contactUs-header{
        margin-top: 3rem;
        font-size: 2rem
    }
    
    .contactUs-header + p{
        font-size: 3.2rem;
        transition: color 0.3s ease;
    }

    .personal-info{
        flex-wrap: wrap;
    }

    .info{
        width: 100%;
    }

    .info input{
        margin-bottom: 2.2rem;
        height: 9rem;
    }

    textarea, input{
        font-size: 2rem;
    }

    .check{
        margin-bottom: 4rem;
    }
    
    .check label{
        font-size: 1.9rem;
    }

    .btn{
        width: 60%;
    }

    .btn button{
        padding: 50px 70px;
        font-size: 1.6rem;
    }

    .footer-container{
        flex-wrap: wrap;
        padding-top: 3rem;
        padding-bottom: 3rem;
        
    }

    .footer-pages li, .copyright p{
        font-size: 2rem;
        line-height: 4rem;
    }

    .contactUs-container{
        margin-bottom: 18rem;
    }

    input[type=checkbox]{
        width: 30px;
        height: 30px;
    }
    
}

box-shadow: 0 5px 20px;